name: "Build"
on:
  push:
  schedule: # Test daily.
    - cron: 0 10 * * *

jobs:
  run-godot:
    name: ${{ matrix.os }} ${{ matrix.bits }}bit ${{ matrix.version }} ${{ matrix.mono && 'mono' || '' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        bits: [64]
        mono: [false]
        version: ["v3.6.1-stable", "v4.4.1-stable"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Godot
        id: setup-godot
        uses: ./
        with:
          version: ${{ matrix.version }}
          bits: ${{ matrix.bits }}
          mono: ${{ matrix.mono }}
      - shell: bash
        run: godot --editor --quit
